//br
$mobile-width: 450px;
$tablet-width: 768px;
$desktop-width: 1024px;

// Colors
$white:    #fff;
$gray1:    #565656;
$gray2:    #b5b5b5;
$gray3:    #333333;
$gray4:    #cccccc;
$gray5:    #a2a2a2;
$gray6:    #565656;
$yellow:   #ffd942;
$black:    #0f0f0f;
$black1:   #f0f0f0;
$white1:   #fefefe;
$line:     #dddddd;
$table:    #333333;
$tables:   #fafbfb;
$color-1: #16a085;
$color-2: #2980b9;
$light-black: #333;


// Font weight
$light:         300;
$regular:       400;
$medium:        500;
$semi_bold:     600;
$bold:			700;


// Font size
$size-default:  14px;


// Spaces
$smallest:      10px;
$small:         15px;
$medium:        25px;
$large:         35px;
$extra:         50px;



