@import "source/variables";

.container {
	width: 100%;
 	display: flex;
 	flex-direction: column;
 	align-items: center;
}

header {
	width: 95%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

nav {
	width: 55%;
}

.header_main {
	display: flex;
    justify-content: space-between;
    width: 90%;
}

.header_nav {
	display: flex;
    justify-content: space-around;
    width: 100%;
}

.head_link {
	text-transform: uppercase;
	font-weight: $regular;
	font-size: $size-default;
	color: $gray1;
	line-height: 23px;
}

.links {
	color: $yellow;
	padding-left: 7px;
	margin-top: 2px;
	float: right;
}

.menu {
	height: 70px;
	margin-bottom: 5px;
}

.menus {
	text-align: right;
	font-size: $large;
	line-height: 70px;
	display: none;
	margin-right: 5px;
}

#toggle {
	display: none;
}

.menu_item {
	display: none;
}


@media only screen and (max-width: 880px) {
	nav {
		display: none;
	}

	.search {
		display: none;
	}

	.menus {
		display: block;
		cursor: pointer;
	}

	.menu {
		width: 100%;
		position: relative;
	}

	.menu_item {
	 	display: none;
	 	text-align: center;
	 	margin-top: 20px;
	 	overflow: hidden;
	 	width: 100%;
		position: absolute;
		right: 40%;
	 	& li {
	 		text-transform: uppercase;
	 		font-size: $small;
	 		margin-bottom: 15px;
	 		text-align: center;
	 		display: block;

	 		& a {
	 			color: $gray1;
	 		}
	 	}
	}

	#toggle:checked + .menu_item{
			display: block;
	 	}
	 	
}

