@import "source/variables";

.posts {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 1px solid $line;
	border-bottom: 1px solid $line;
	padding-top: 70px;
    padding-bottom: 70px;
}

.posts h2 {
	font-size: 24px;
	font-weight: $medium;
	text-transform: uppercase;
	margin: 0 auto;
	color: #black;
}

.content_post {
	display: flex;
	justify-content: center;
	width: 95%;
	flex-wrap: wrap;
	margin-top: 50px;
}

.post {
	width: 370px;
	height: 185px;
	display: flex;
	box-shadow: 0 0 7px 1px rgba(17, 20, 48, 0.13);
	margin: 15px;
}

.post_info {
	display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;

    & .types {
    	font-size: 12px;
    	font-weight: $regular;
    	color: $gray5;
    	text-transform: uppercase;
    	padding-bottom: 25px;
    }

    & .desc_post {
    	color: $black;
    	font-size: 16px;
    	font-weight: $regular;
    	line-height: 20px;
    	letter-spacing: -0.14px;
    	padding-bottom: 25px;
    }

    & a {
    	text-transform: uppercase;
    	color: $black;
    	font-size: 12px;
    }

    & i {
    	padding-left: 10px;
    	color: $black;
    }
}

@media only screen and (max-width: 434px) {
    .post {
        flex-direction: column;
        height: 410px !important;
        width: 250px !important;
        margin-bottom: 20px !important;
    }

    .post_img img {
        width: 250px; 
    }

    .types {
        margin-top: 10px;
    }

}

